@import 'normolize'
// @import 'fonts'
@import 'elements'
@import 'header'

.main
    padding: 130px 0 105px
    background-repeat: no-repeat
    background-size: auto 91%
    background-position: center center
    background-image: url('../img/main__dots.svg')
    overflow: hidden
    h1
        text-transform: uppercase
        color: $prime
        font-weight: 900
        margin: 0 0 10px

    &__text
        color: $dark
        max-width: 50%
        font-size: 33px
        line-height: 46.2px
        margin: 0 0 22px

    &-event
        justify-content: flex-start
        background-color: #EEEEEE
        padding: 22px 0
        margin: 56px 0 0
        position: relative
        gap: 25px
        max-width: 80%

    &-item
        gap: 15px
        border-right: 1px solid #DBDBDB
        padding-right: 25px
        .label
            text-align: right
            font-size: 12px
            line-height: 18px
            color: #7A7775
            display: block

        .heading
            font-weight: 700
            font-size: 25px
            color: #000000

        i
            font-style: normal

    .btn
        position: relative
        z-index: 1

    @media screen and ( min-width: 970px )
        &__img
            position: absolute
            z-index: 1
            right: 0
            top: 50%
            transform: translateY(-50%)
            max-width: 50%

        &-event
            &::before
                content: ''
                display: block
                width: calc( 100% + 120px )
                height: 100%
                left: 50%
                top: 0
                transform: translateX(-50%)
                background-color: #EEEEEE
                position: absolute
                z-index: -1

    @media screen and ( max-width: 1100px )
        padding: 80px 9px 100px

        &-event
            max-width: 100vw
            width: 100vw
            left: -24px

        &__img
            top: 47%
            right: 15px

    @media screen and ( max-width: 970px )
        padding: 20px 9px 35px
        background-image: url('../img/main__dots-mob.svg')
        background-position: top 16px center
        background-size: 94% auto

        .container
            max-width: 600px

        &__text
            max-width: 100%

        &-event
            flex-wrap: wrap
            text-align: center
            margin-top: 27px
            gap: 27px 16px
            justify-content: center

        &-item
            flex-direction: column
            max-width: 45%
            text-align: center
            border: none
            padding: 0
            gap: 7px
            .label
                text-align: center

            .heading
                font-size: 16px

            img
                width: 32px
                height: 32px

            i
                display: none

            &:nth-of-type(2)
                border: 1px solid #DBDBDB
                border-top: none
                border-bottom: none
                padding: 0 19px

        h1
            margin: 0 0 1px

        &__text
            font-size: 15px
            line-height: 21px
            margin: 0 0 1px

.exhibition
    text-align: center
    h2
        font-size: 35px
        line-height: 150%
        max-width: 700px
        margin: 0 auto 50px

    .fx
        align-items: stretch
        gap: 20px

    &__icon
        display: block
        margin: 0 auto 30px

    &__heading
        font-size: 22px
        line-height: 33px
        margin: 0 0 25px
        color: $prime

    &__text
        font-size: 14px
        line-height: 21px
        letter-spacing: 0.2px

    &-item
        background-color: $sec
        padding: 62px 33px 60px
        max-width: 350px

    &-img
        text-align: right
        img
            max-width: 211px
            max-height: 218px
            display: block
            margin: 0 0 20px auto
            &:last-of-type
                margin: 0 0 0 auto

        &.--second
            img
                margin-left: 0

    &-title
        font-size: 18px
        line-height: 25.2px
        max-width: 720px
        font-weight: 600
        margin: 0 auto
        padding: 30px 25px 25px
        border-bottom: 1px solid $prime

    @media screen and ( max-width: 1200px )
        h2
            font-size: 30px

        .container
            padding: 0 40px

        .fx
            flex-wrap: wrap
            max-width: 800px
            margin: 0 auto
            justify-content: center

        &-item
            order: 1
            width: 48%

        &-img
            order: 2

    @media screen and ( max-width: 700px )
        padding: 35px 0 75px
        h2
            margin-bottom: 15px
            font-size: 16px

        .fx
            gap: 3px

        &-item
            padding: 20px
            text-align: left
            width: 100%
            max-width: 100%
            &.--second
                order: 2

        &-img
            width: 100%
            display: flex
            gap: 3px
            img
                max-width: unset
                width: calc( 50% - 1.5px )
                max-height: unset
                min-height: unset
                margin: 0
                object-fit: cover

        &__icon
            width: 21px
            height: 21px
            margin: 0

        &__heading
            font-size: 15px
            line-height: 22.5px
            margin: 0 0 20px
            display: flex
            align-items: center
            gap: 11px

        &__text
            font-size: 10px
            line-height: 14.5px

        &-title
            font-size: 11px
            line-height: 15.4px
            padding: 20px 0

@import 'marquee'

.help
    margin-top: 60px
    padding: 150px 0
    background-color: $sec
    .container-wide
        margin-bottom: 120px

    h2
        padding-right: 25px

    &__flags
        display: block
        width: 100%
        margin: 0 0 95px

    &-title
        ul
            justify-content: flex-start
            gap: 20px

    &__text
        font-size: 17px
        font-weight: 500
        line-height: 160%
        margin: 0 0 18px

    &-items
        align-items: stretch

    &-item
        width: 32%
        padding: 40px
        border: 2px solid #ED1C25
        background-color: #FFFFFF
        &__heading
            font-size: 24px
            line-height: 33.6px
            font-weight: 600
            text-align: left
            &::after
                content: ''
                display: block
                width: 46px
                background-color: $prime
                height: 1px
                margin: 30px 0

        &__text
            display: block
            font-size: 15px
            line-height: 22.5px

    @media screen and ( max-width: 1200px )
        padding: 100px 0

        &__text
            font-size: 16px
            font-weight: 400
            margin-bottom: 21px

        ul
            flex-wrap: wrap
            li
                width: fit-content
                white-space: nowrap

    @media screen and ( max-width: 1000px )
        padding: 55px 0 84px

        &-items
            justify-content: flex-start
            gap: 8px
            width: 100vw
            position: relative
            overflow-x: scroll
            left: -15px
            padding: 0 15px 0
            -ms-overflow-style: none
            scrollbar-width: none
            &::-webkit-scrollbar
                display: none
                width: 0
                height: 0

        &__text
            font-size: 11px

        &-title
            ul
                gap: 10px

        &-item
            width: 250px
            min-width: 250px
            padding: 16px 20px
            &__heading
                font-size: 14px
                line-height: 18.9px
                &::after
                    margin: 22px 0 17px

            &__text
                font-size: 12px
                line-height: 18px

        h3
            margin-bottom: 15px

        &__flags
            margin-bottom: 27px

    @media screen and ( max-width: 700px )
        margin-top: 0
        h2
            margin-bottom: 20px
            padding: 0
            border: none

        .container
            &-wide
                display: block
                margin-bottom: 55px

        ul

        &__flags
            margin-top: 13px

        &-item
            width: 200px
            min-width: 200px

.timeline
    width: 49%
    border: 2px solid #ED1C25
    border-left-width: 10px
    font-size: 18px
    font-weight: 600
    color: #1E1E1E
    background-color: #fff
    padding: 7px 0
    margin-bottom: 15px
    min-height: 80px
    display: flex
    align-items: center
    position: relative
    z-index: 1
    transition: all ease .3s

    &::before
        content: ''
        display: block
        width: 161px
        height: 100%
        position: absolute
        z-index: -11
        left: 0
        background-color: $prime
        transform: scaleX(0)
        transition: all ease .3s
        transform-origin: 0 0

    &__time
        min-width: 159px
        transition: all ease .3s
        display: block
        text-align: center

    &__text
        padding: 7px 17px
        min-height: 60px
        display: flex
        align-items: center
        justify-content: flex-start
        border-left: 2px solid #ED1C25
        font-size: 18px
        line-height: 150%
        transition: all ease .3s
        position: relative
        z-index: 1

        .heading
            position: absolute
            top: 50%
            transform: translateY(-50%)
            left: 17px
            transition: all ease .2s

        .descr
            font-size: 16px
            opacity: 0
            transition: all ease .2s

    &:hover
        border-left-width: 2px
        &::before
            transform: scaleX(1)

        .heading
            width: 100%
            opacity: 0
            visibility: hidden
            text-align: left
        .descr
            text-align: left
            width: 100%
            font-weight: 500
            opacity: 1

        .timeline
            &__time
                color: white

    @media screen and ( max-width: 1000px )
        border-width: 1px
        border-left-width: 3px
        min-height: 50px
        padding: 4px 0
        &::before
            width: 52px

        &__time
            min-width: 51px
            width: 51px
            font-size: 10px
            line-height: 15px
            i
                display: none

        &__text
            width: 100%
            padding: 4px 4px 4px 10px
            border-width: 1px
            font-size: 12px
            line-height: 18px
            font-weight: 600
            min-height: 40px
            .heading
                left: 10px

            .descr
                font-size: 9px
                line-height: 13.5px

        &:hover
            border-left-width: 1px

    @media screen and ( max-width: 700px )
        width: 100%
        margin-bottom: 5px

.shelters
    padding: 150px 0 0
    .container-wide
        margin-bottom: 50px

    .fxw
        gap: 20px

    &__pets
        display: block
        width: 100%
        margin-top: 50px

    @media screen and ( max-width: 1000px )
        padding: 70px 0 0

    @media screen and ( max-width: 700px )
        padding: 56px 0 0
        .container-wide
            gap: 12px
            margin-bottom: 18px
            p
                font-size: 12px
                line-height: 14.4px

        h2
            padding-right: 11px

        .fxw
            gap: 8px

        &__pets
            margin-top: 10px
            height: 27vw
            object-fit: cover

.shelter
    padding: 22px 25px 24px 0
    display: flex
    border: 3px solid $prime
    width: calc( 50% - 10px )
    transition: .2s ease all
    @media screen and ( min-width: 1000px )
        &:hover
            transform: scale(1.01)
            background-color: #FBFBFB

    .col
        padding: 8px 20px
        flex-direction: column
        min-width: 208px
        border-right: 2px solid #D7D7D770
        margin-right: 22px

    &__heading
        color: $prime
        font-size: 24px
        line-height: 24px
        font-weight: 700
        text-align: center
        margin: 0

    &-title
        padding: 6px 0
        flex-direction: column
        align-items: flex-start

    &__text
        font-size: 12px
        line-height: 18px
        margin: 0 0 20px

    &__middle
        text-align: right
        padding: 30px 14px 30px 5px
        font-size: 14px
        b
            font-size: 16px

        i
            display: none

    &__contact
        display: none

    &__qr
        margin: 10px 0
        display: block
        max-width: 90%

    &__descr
        text-align: center
        font-size: 10px
        line-height: 15px

    &__link
        word-break: break-all
        display: block
        font-size: 16px
        text-decoration: underline

    &-tags
        padding: 0px 0 20px
        gap: 25px
        justify-content: start

    &__tag
        font-size: 18px
        line-height: 27px
        display: flex
        align-items: center
        gap: 13px
        img
            display: block

    @media screen and ( max-width: 1180px )
        width: 100%

    @media screen and ( max-width: 700px )
        display: block
        padding: 15px 20px
        border-width: 1px
        position: relative
        z-index: 1
        background-color: #FBFBFB

        .col
            border: none
            padding: 0
            margin: 0
            display: block
            .shelter__middle
                display: none

        &__text
            font-size: 10px
            line-height: 150%
            display: none
            order: 2
            margin-bottom: 18px

        &-tags
            order: 3
            border-top: 1px solid #F5F1E5
            width: 100%
            gap: 11px
            padding: 8px 0 0

        &__tag
            font-size: 12px
            gap: 8px
            img
                width: 22px

        &-title
            padding: 0

        &__link
            display: none
            order: 1
            font-size: 10px
            line-height: 150%
            margin-bottom: 14px

        &__contact
            display: none
            text-align: left
            font-size: 14px
            margin-top: 8px
            padding: 14px 0px 0
            order: 3
            border-top: 1px solid #F5F1E5
            width: calc( 100% - 40px )
            i
                font-size: 8px
                display: block
                margin-bottom: 5px
                font-style: normal

            b, a
                font-weight: 500
                font-size: 14px
                margin-right: 4px

            b
                text-decoration: underline

        &__qr,
        &__descr
            display: none

        &__heading
            position: relative
            z-index: 1
            padding: 3px 0 2px
            margin-bottom: 8px
            font-size: 16px
            line-height: 130%
            width: 100%
            text-align: left
            &::after
                content: ''
                width: 21px
                height: 21px
                position: absolute
                top: 50%
                margin-top: -10px
                right: 0
                display: block
                transition: all ease .3s
                background-repeat: no-repeat
                background-position: center right
                background-image: url('../img/arrow__down.svg')

            br
                display: none

        &.is__active
            .shelter__heading
                &::after
                    transform: rotate(180deg)

.photos
    background-color: $sec
    padding: 150px 0 75px
    .container
        &-wide
            margin-bottom: 100px
            p
                font-size: 20px
                font-weight: 600

        &.fxw
            justify-content: flex-start
            gap: 20px
            padding: 0 15px 75px

    &__img
        display: block
        width: calc( 33.33% - 14px )
        img
            display: block
            width: 100%
            aspect-ratio: 1/1
            object-fit: cover
            background-color: #fff

    @media screen and ( max-width: 1100px )
        padding: 75px 0
        .container
            &-wide
                margin-bottom: 55px
                p
                    font-size: 16px

            &.fxw
                gap: 15px
                padding: 0 15px 45px

        &__img
            width: calc(33.33% - 10px)

    @media screen and ( max-width: 700px )
        padding: 55px 0 50px

        .container
            &-wide
                gap: 12px
                padding: 0 10px 22px
                margin: 0
                p
                    font-size: 12px
                    line-height: 14.4px
                    font-weight: 500

            &.fxw
                gap: 3px

        h2
            padding-right: 11px

        &__img
            width: calc(33.33% - 2px)

@import 'footer'
